CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.vs/blender2step/
out/
build/
*.bak
*.db
*.sqlite
*.step
__pycache__/
vcpkg_installed/
*.log
build_*.txt
*.crash.*
x64/
*.code-workspace
test*.txt
**/*.tlog
**/*_log.txt
step_exporter.dir/
build_occt/
vcpkg_overlay/
test_output/
*.blend*
occt-x64-windows-release.zip
!step_exporter/examples/*.blend
